* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 700px;
    max-width: 90%;
    margin: 50px auto;
}

h1 {
    margin-bottom: 5px;
}

.subtitle {
    color: #666;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 30px 0;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button {
    background: #222;
    color: white;
}

.filters {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.task {
    background: white;
    padding: 20px;
    margin-bottom: 12px;
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    box-shadow: 0 2px 5px rgba(0,0,0,0.08);
}

.task h3 {
    margin: 0 0 5px;
}

.task p {
    color: #666;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

.actions {
    display: flex;
    gap: 8px;
}

.delete {
    background: #d9534f;
    color: white;
}